<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube downloader</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Rowdies' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script data-ad-client="ca-pub-5539737498268274" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<div class="container">
    <h1>Youtube downloader</h1>

    <form class="form-group" id="youtube-get-stream-list-form" method="GET">
        <input class="form-control" id="url" type="text" name="url"
               placeholder="https://www.youtube.com/watch?v=3icPpsf9bXk"/>
        <input class="btn" type="submit" value="Search"/>
    </form>

    <form class="form-group" id="youtube-download-form" method="GET" style="display: none;">
        <label> Media type
            <select id="media_type" class="custom-select"> </select>
        </label>
        <label> Mime type
            <select id="mime_type" class="custom-select"> </select>
        </label>
        <label> FPS
            <select id="fps" class="custom-select"> </select>
        </label>
        <label> RES
            <select id="res" class="custom-select"> </select>
        </label>
        <input class="btn" type="submit" value="Download"/>
    </form>

    <ul id="video-download-list"></ul>

    <div class="global-loader-mask">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        let searched_video_id = null;
        let stream_list = [];
        let itag = null;

        $("#youtube-get-stream-list-form").submit(function (e) {
            e.preventDefault();

            let url = $("#url").val();
            let params = getUrlParams(url);
            if (params.v == null) {
                alert("Youtube url is incorrect. Please check the url.");
                return;
            }

            searched_video_id = params.v;
            let data = {
                v: searched_video_id
            };

            $("#video-download-list").children("li").remove();
            showLoader();
            $.ajax({
                type: "GET",
                dataType: 'json',
                contentType: "application/json",
                url: "/get-stream-list",
                data: data,
                success: function (response, status, xhr) {
                    if (response.status === "SUCCESS") {
                        stream_list = response.stream_list;
                        if (stream_list == null || stream_list.length === 0) {
                            showAlert("Youtube not support this video to download");
                            return;
                        }

                        let media_type_list = getListWithoutDuplication(stream_list.map(function (stream) {
                            return stream.type;
                        }));

                        setOptions($("#media_type"), media_type_list);

                        let element = document.getElementById("media_type");
                        element.dispatchEvent(new Event("change"));

                        $("#youtube-download-form").show();
                        return;
                    }

                    showAlert(response.message);
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    showAlert(errorMessage);
                },
                complete: function (data) {
                    hideLoader();
                }
            });
        });

        $("#url").change(function () {
            $("#youtube-download-form").hide();
        });

        $("#media_type").change(function () {
            if ($("#media_type").val() !== "video") {
                // inactive res
                $("#res").parent().hide()
            } else {
                // active
                $("#res").parent().show()
            }

            let selected_stream_list = stream_list.filter(function (stream) {
                return $("#media_type").val() === stream.type;
            });
            let mime_type_option_list = getListWithoutDuplication(selected_stream_list.map(function (stream) {
                return stream.mime_type;
            }));

            setOptions($("#mime_type"), mime_type_option_list);

            let element = document.getElementById("mime_type");
            element.dispatchEvent(new Event("change"));
        });

        $("#mime_type").change(function () {
            let selected_stream_list = stream_list
                .filter(function (stream) {
                    return $("#media_type").val() === stream.type;
                }).filter(function (stream) {
                    return $("#mime_type").val() === stream.mime_type;
                });

            let fps_option_list = getListWithoutDuplication(selected_stream_list.map(function (stream) {
                return stream.fps;
            }));

            setOptions($("#fps"), fps_option_list);

            let element = document.getElementById("fps");
            element.dispatchEvent(new Event("change"));
        });

        $("#fps").change(function () {
            let selected_stream_list = stream_list
                .filter(function (stream) {
                    return $("#media_type").val() === stream.type;
                }).filter(function (stream) {
                    return $("#mime_type").val() === stream.mime_type;
                }).filter(function (stream) {
                    return $("#fps").val() == stream.fps;
                });

            let res_option_list = getListWithoutDuplication(selected_stream_list
                .map(function (stream) {
                    return stream.res;
                })).sort((a, b) => {
                let value1 = a.replace("p", "");
                let value2 = b.replace("p", "");

                if (Number(value1) > Number(value2)) {
                    return 1;
                }

                if (Number(value1) < Number(value2)) {
                    return -1;
                }

                return 0;
            });

            setOptions($("#res"), res_option_list);

            let has720p = false;
            res_option_list.forEach((option) => {
                if (option === "720p") {
                    has720p = true;
                    return;
                }
            });

            if (has720p) {
                $("#res").val("720p");
            } else if (res_option_list.length > 0) {
                $("#res").val(res_option_list[0]);
            }

            let element = document.getElementById("res");
            element.dispatchEvent(new Event("change"));
        });

        $("#res").change(function () {
            let selected_stream_list = stream_list
                .filter(function (stream) {
                    return $("#media_type").val() === stream.type;
                }).filter(function (stream) {
                    return $("#mime_type").val() === stream.mime_type;
                }).filter(function (stream) {
                    return $("#fps").val() == stream.fps;
                }).filter(function (stream) {
                    return $("#res").val() === stream.res;
                });

            if (selected_stream_list.length > 0) {
                itag = selected_stream_list[0].itag;
            }
        });

        $("#youtube-download-form").submit(function (e) {
            e.preventDefault();

            if (searched_video_id == null || itag == null) {
                alert("Please search youtube media that you want to download.");
                return;
            }

            let data = {
                v: searched_video_id,
                itag: itag
            };

            showLoader();
            $.ajax({
                type: "GET",
                dataType: 'json',
                contentType: "application/json",
                url: "/download",
                data: data,
                success: function (response, status, xhr) {
                    if (response.status === "SUCCESS") {
                        {# <a> #}
                        let a = document.createElement("a");
                        a.href = response.href;
                        a.text = response.filename;
                        a.download = response.filename;
                        a.click();

                        {# <li> #}
                        let li = document.createElement("li");
                        li.appendChild(a);

                        {# <ul> #}
                        document.getElementById("video-download-list").appendChild(li);
                        return;
                    }

                    showAlert(response.message);
                    showAlert(response.error);
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert(errorMessage);
                },
                complete: function (data) {
                    hideLoader();
                }
            })
        });

        function getUrlParams(url) {
            let params = {};
            url.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
                params[key] = value;
            });
            return params;
        }

        function getListWithoutDuplication(list) {
            let map = new Map();
            return list.filter(function (item) {
                if (item == null) {
                    return false;
                }

                if (map.has(item)) {
                    return false;
                }

                map.set(item, item);
                return true;
            })
        }

        function setOptions(select, options) {
            select.children('option').remove();

            options.forEach(function (type) {
                select.append("<option value='" + type + "'>" + type + "</option>");
            });
        }

        function showAlert(message) {
            if (message != null) {
                alert(message);
            }
        }

        function showLoader() {
            $("body").addClass("hide-scroll");
            $(".global-loader-mask").css("display", "flex");
        }

        function hideLoader() {
            $("body").removeClass("hide-scroll");
            $(".global-loader-mask").css("display", "none");
        }
    })
    ;
</script>
</html>